.page.theme_dark {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */

    --main-color: #ff0077;
    --background-color: #000028;
    --border-color: #ff0077;
    --focus-color: #ff0077;
    --focus-underline-color: #ff0077;
    --main-color-translucent: rgba(255, 0, 112, 0.4);
    --titel-text-color: #db00ff;
    --color-h1: #db00ff;
    --color-h2: #ff0077;
    --subtitle-text-color: #000028;
    --text-color: #f1b2ce;
    --background-image: url(../images/cover-image-dark.png);
    --decorated-zone-color: #ff0077;
    --theme-color: #ff0077;
    --rec-visible: visible;
}