.page.theme_dark {
    /* Цветовые переменные */
    --primary-color: #ff0077;
    --primary-color-translucent: rgba(255, 0, 112, 0.4);
    --background-primary-color: #000028;
    --border-primary-color: #ff0077;
    --focus-outline-color: #ff0077;
    --focus-underline-color: #ff0077;
    --title-text-color: #db00ff;
    --heading-primary-color: #db00ff;
    --heading-secondary-color: #ff0077;
    --subtitle-text-color: #000028;
    --body-text-color: #f1b2ce;
    --decorative-zone-border-color: #ff0077;
    --theme-default-color: #ff0077;

    /* Фоновые элементы */
    --background-image: url(../images/cover-image-dark.png);

    /* Прочие настройки */
    --rec-visibility: visible;
}