.page.theme_light {
    --primary-color: #ff8dcb;
    --background-primary-color: #fff1f7;
    --border-primary-color: #353430;
    --focus-outline-color: #353430;
    --focus-underline-color: #353430;
    --primary-color-translucent: rgba(53, 52, 48, 0.4);
    --titel-text-color: #353430;
    --heading-color-h1: #ffc2e6;
    --heading-color-h2: #353430;
    --subtitle-text-color: #353430;
    --body-text-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --decorative-zone-border-color: #353430;
    --theme-default-color: #353430;
    --rec-visibility: hidden;
    --font-family-primary: 'IBM Plex mono', monospace;
}

@media (prefers-color-scheme: light) {
    :root {
        --primary-color: #ff8dcb;
        --background-primary-color: #fff1f7;
        --border-primary-color: #353430;
        --focus-outline-color: #353430;
        --focus-underline-color: #353430;
        --primary-color-translucent: rgba(53, 52, 48, 0.4);
        --titel-text-color: #353430;
        --heading-color-h1: #ffc2e6;
        --heading-color-h2: #353430;
        --subtitle-text-color: #353430;
        --body-text-color: #353430;
        --background-image: url(../images/cover-image-light.png);
        --decorative-zone-border-color: #353430;
        --theme-default-color: #353430;
        --rec-visibility: hidden;
        --font-family-primary: 'IBM Plex mono', monospace;
    }
}