.page.theme_light {
    /* Цветовые переменные */
    --primary-color: #ff8dcb;
    --primary-color-translucent: rgba(53, 52, 48, 0.4);
    --background-primary-color: #fff1f7;
    --border-primary-color: #353430;
    --focus-outline-color: #353430;
    --focus-underline-color: #353430;
    --titel-text-color: #353430;
    --heading-primary-color: #ffc2e6;
    --heading-secondary-color: #353430;
    --subtitle-text-color: #353430;
    --body-text-color: #353430;
    --decorative-zone-border-color: #353430;
    --theme-default-color: #353430;

    /* Фоновые элементы */
    --background-image: url(../images/cover-image-light.png);

    /* Прочие настройки */
    --rec-visibility: hidden;
}

@media (prefers-color-scheme: light) {
    :root {
        /* Цветовые переменные */
        --primary-color: #ff8dcb;
        --primary-color-translucent: rgba(53, 52, 48, 0.4);
        --background-primary-color: #fff1f7;
        --border-primary-color: #353430;
        --focus-outline-color: #353430;
        --focus-underline-color: #353430;
        --titel-text-color: #353430;
        --heading-primary-color: #ffc2e6;
        --heading-secondary-color: #353430;
        --subtitle-text-color: #353430;
        --body-text-color: #353430;
        --decorative-zone-border-color: #353430;
        --theme-default-color: #353430;

        /* Фоновые элементы */
        --background-image: url(../images/cover-image-light.png);

        /* Прочие настройки */
        --rec-visibility: hidden;
    }
}