:root .theme_light {
    --text-color: rgba(53, 52, 48, 1);
    --background: rgba(255, 241, 247, 1) url("../images/cover-image-light.png")
    no-repeat center / cover;
    --accent-color: rgba(255, 0, 112, 1);
    --accent-color-btn: rgba(53, 52, 48, 1);
    --text-color-accent: rgba(255, 194, 230, 1);
    --bg-color: rgba(53, 52, 48, 1);
    --accent-color-title: rgba(255, 141, 203, 1);
    --display-header-decor: none;
    --color-section-title: rgba(53, 52, 48, 1);
    --accent-color-opasity: rgba(53, 52, 48, 0.4);
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: rgba(53, 52, 48, 1);
        --background: rgba(255, 241, 247, 1) url("../images/cover-image-light.png")
        no-repeat center / cover;
        --accent-color: rgba(255, 0, 112, 1);
        --accent-color-btn: rgba(53, 52, 48, 1);
        --text-color-accent: rgba(255, 194, 230, 1);
        --bg-color: rgba(53, 52, 48, 1);
        --accent-color-title: rgba(255, 141, 203, 1);
        --display-header-decor: none;
        --color-section-title: rgba(53, 52, 48, 1);
        --accent-color-opasity: rgba(53, 52, 48, 0.4);
    }
}

@media (max-width: 1023px) {
    .header__title {
        text-shadow: 4px 4px 0 var(--accent-color-title);
    }

    .footer__title {
        text-shadow: 2px 2px 0 var(--accent-color-title);
    }
}