.page {
    font-size: var(--base-font-size);
    font-family: "IBM Plex mono", monospace;
    min-inline-size: 375px;
    max-inline-size: 1024px;
    background-color: var(--background-color, rgb(0 0 40));
    background-image: var(--background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* ----- Первый экран ----- */
.header {
    height: 100vh;
    min-block-size: 668px;
    min-inline-size: 375px;
    position: relative;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    justify-items: end;
    align-items: center;

    @media (min-width: 768px) {
        padding: 20px;
    }
}

.block-rec {
    visibility: var(--rec-visible);
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    top: 0.6em;
    right: 1.1em;
    color: var(--main-color);

    @media (min-width: 768px) {
        top: 1.1em;
        right: 1.6em;
    }
}

.block-rec::after {
    content: "";
    display: inline-block;
    block-size: 10px;
    inline-size: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    box-shadow: 0 0 4px 2px var(--main-color);
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.block-theme {
    justify-self: end;
    align-self: center;

    @media (min-width: 1024px) {
        justify-self: center;
        align-self: start;
    }
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    @media (min-width: 1024px) {
        flex-direction: row;
    }
}

.header__theme-menu-button {
    position: relative;
    color: var(--theme-color);
    text-transform: lowercase;
    min-block-size: 26px;
    min-inline-size: 70px;
}

.header__theme-menu-button_active {
    border: 1px solid var(--theme-color);
    pointer-events: none;
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--main-color-translucent);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--theme-color);
}

.block-header__title {
    display: inline-block;
    justify-self: start;
    color: var(--color-h1);
    text-shadow: 4px 4px var(--main-color);
    font-size: var(--font-size-h1);
    line-height: 82.5%;

    @media (min-width: 768px) {
        margin-inline-start: -20px;
    }
}

.block-subtitle {
    inline-size: clamp(355px, 100%, 364px);
    justify-self: end;
    align-self: center;
    background-color: var(--main-color);
    color: var(--subtitle-text-color);
    font-weight: bold;

    @media (min-width: 770px) {
        inline-size: clamp(364px, 100%, 491px);
        background-color: cadetblues;
    }
}

/* ----- Контент ----- */
.main {
    display: grid;
    gap: 50px;
    padding: 10px;
    margin-block-start: 32px;

    @media (min-width: 768px) {
        gap: 80px;
        padding: 20px;
        margin-block-start: 39px;
    }
}

.info-card__title {
    width: 100%;
    color: var(--color-h2);
    font-size: var(--base-font-size);
    display: block;

    @media (min-width: 768px) {
        max-width: 236px;
    }

    @media (min-width: 1024px) {
        max-width: 315px;
    }
}

.info-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.info-cards--horizontal-layout {
    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.info-card__item-title {
    font-size: var(--base-font-size);
    color: var(--subtitle-text-color);
}

.info-card__item-text {
    color: var(--text-color);
    line-height: 1.3;
    margin-block-start: 10px;
}

.info-card__subitem-title {
    color: var(--subtitle-text-color);
    font-weight: normal;
}

.title-decor {
    background-color: var(--main-color);
}

.card__link {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    text-shadow: 2px 2px var(--main-color);

    @media (min-width: 768px) {
        border-bottom: none;
    }
}

.card__link:hover {
    @media (min-width: 768px) {
        border-bottom: 1px solid currentColor;
    }
}

.card__link:focus {
    outline: none;
}

.card__link:focus-visible {
    outline: 1px solid currentColor;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.section--vertical-layout {
    flex-direction: column;
}

.info-card__item {
    width: 100%;
}

/* ----- Галлерея ----- */

.gallery-cards {
    padding-block-start: 10px;
    display: grid;
    gap: 10px;

    @media (min-width: 768px) {
        padding-block-start: 21px;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
    }

    @media (min-width: 1024px) {
        gap: 25px;
    }
}

@media (min-width: 768px) {
    .img__item:nth-child(1) {
        grid-column: 1 / 3;
    }

    .img__item:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: -5 / -3;
    }

    .img__item:nth-child(3) {
        grid-row: 2 / 6;
    }

    .img__item:nth-child(5) {
        grid-row: 3 / 6;
        grid-column: 2 / 4;
    }
}

.img__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* ----- Подвал ----- */
.footer {
    height: 100vh;
    min-height: 668px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 33px;

    @media (min-width: 768px) {
        margin-block-start: 40px;
    }
}

.footer__title {
    color: var(--color-h1);
    text-shadow: 2px 2px var(--main-color);
    font-size: var(--font-size-h1);
    font-weight: bold;
}

/* ----- Уголки ----- */
.decorated-zone {
    position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border: 1px solid var(--decorated-zone-color);
}

.decorated-zone::before {
    top: 10px;
    right: 10px;
    border-left: none;
    border-bottom: none;
}

.decorated-zone::after {
    bottom: 10px;
    left: 10px;
    border-right: none;
    border-top: none;
}

@media (min-width: 768px) {
    .decorated-zone::before {
        top: 20px;
        right: 20px;
    }

    .decorated-zone::after {
        bottom: 20px;
        left: 20px;
    }
}